<!DOCTYPE html>
<html ng-app="twitterAPI">
<head>
    <title>backbird</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/styles.css" />
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300' rel='stylesheet' type='text/css'>    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="bower_components/oauth-js/dist/oauth.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controller.js"></script>
    <script src="app/service.js"></script>
    <!--FAV ICON FILES, ALL VERSIONS INCLUDED-->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon//apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon//apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon//apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon//apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon//apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon//apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon//apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon//apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon//apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon//favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon//favicon-16x16.png">
    <link rel="manifest" href="assets/favicon//manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
  <div id="splash">
    <div class="container">
    	<div class="content">
    		<h2 class="frame-1">Hello momentfeed.</h2>
    		<h2 class="frame-2">Welcome to backbird.</h2>
    	</div>
    </div>
  </div>
  <div class="wrapper">
    <div ng-controller="TwitterController">
      <span class="logo"><img src="assets/styles/images/backbird2.png" alt="" />
        <h1>look back at it</h1>
        <hr>
      </span>
    <div class="slogan">
      <h3>Search back through your personal timeline with backbird.</h3>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <button ng-click="connectButton()" id="connectButton" type="button" class="btn btn-primary">Connect Twitter</button>
          <button ng-click="refreshTimeline()" id="getTimelineButton" type="button" class="btn btn-info" style="display:none;">Get My Timeline</button>
        <button ng-click="signOut()" id="signOut" type="button" class="btn btn-link" style="display:none;">Sign Out</button>
      </div>
      <div class="col-xs-6">
        <input type="text" ng-model="searchTerm" class="form-control" id="searchBox" placeholder="Enter search term here" ng-show="connectedTwitter" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="results">
        <div class="row" ng-repeat="t in tweets | filter:searchTerm">
          <div class="col-xs-2 col-sm-1">
            <img ng-src="{{t.user.profile_image_url}}" class="img-circle">
          </div>
          <div class="col-xs-10 col-sm-11">
            <small>{{t.user.name}}</small>
            <br> <span ng-bind-html="t.text"></span>
          </div>
        </div>
        <div ng-show="rateLimitError">
        Rate limit reached. You are making too many requests.
        </div>
          <div>
            <br/>
            <input type="button" class="btn btn-info" id="load-more" ng-click="refreshTimeline(tweets[tweets.length-1].id)" ng-show="connectedTwitter" value="Load More" />
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
    <section class="copyright">All content copyright <a href="http://almeidarb.github.io" target="_">Rachel Almeida</a> &copy; 2016 &bull; All rights reserved.</section>
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">How was this actually made?</button>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><img src="assets/styles/images/backbird2.png" alt="" /></h4>
          </div>
            <div class="modal-body">
              <h3>Design and Idea</h3>
              <p>A triple play on the Twitter bird, blackbirds and the word 'back', the Twitter icon fit perfectly into the logo.</p>
              <h3>The Code</h3>
              <p>This application is a single HTML page displaying results of the Twitter API, with JavaScript utilizing Angular.js and CSS utilizing SASS + Bootstrap. The main 'twitterAPI' module lives in the app.js file, along with some functionality handling the introductory animations. The controllor.js handles Oauth and display while the service.js handles the 'twitterService' factory.</p>
              <h3>The Developer</h3>
              <p>Built by Rachel Almeida using Oauth to pull from Twitter's API, while utilizing Angular.js. Visit the <a href="https://github.com/AlmeidaRB/TwitterAPI" target="_blank">github repo.</a></p>
              <h3>Resources</h3>
              <p>Built with the help of <a href="https://oauth.io/" target="_blank">Oauth.io</a></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
