.odd {
  color: red;
}
.even {
  color: blue;
}

//-----------------------------------------------------------------//
///Splash Styling
//-----------------------------------------------------------------//
#splash {
  height: 100%;
  width: 100%;
}

.container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}
.content {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1000;
  font-family: 'Josefin Sans', sans-serif;
}
.container h2 {
	position: absolute;
	top: 50%;
	line-height: 100px;
	height: 100px;
	margin-top: -50px;
	font-size: 100px;
	width: 100%;
	text-align: center;
	color: transparent;
	animation: blurFadeInOut 3s ease-in backwards;
}
.container h2.frame-1 {
	animation-delay: 0s;
}
.container h2.frame-2 {
	animation-delay: 2.5s;
  display: block;
  width: 100%;
}


@keyframes blurFadeInOut{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(0.9);
	}
	20%,75%{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
	100%{
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		transform: scale(0);
	}
}
@keyframes blurFadeIn{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50%{
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100%{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}

//-----------------------------------------------------------------//
///Main App Styling
//-----------------------------------------------------------------//

body {
  background: #E8F4FB;
  font-family: 'Josefin Sans', sans-serif;
}

#results .row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.wrapper {
   display: none;
}

.wrapper .logo {
  display: block;
  padding: 150px;
  background: #00ACED;
  color: white;
}

.wrapper .logo img {
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

.wrapper h1 {
  margin: 0px;
  padding: 20px;
  text-align: center;
}

.col-xs-12 {
    width: 100%;
    padding: 20px;
}

#connectButton {
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

hr {
  width: 50%;
  margin-top: 0px;
  border: 1px dotted #E8F4FB;
}

.slogan {
  text-align: center;
  color: #66757F;
  display: block;
  width: 100%;
  padding: 10px;
}

.row {
  margin-left: 0px;
}

.footer {
  width: 100%;
  height: 150px;
  border-top: 1px dotted #00ACED;
  color: #66757F;
  text-align: center;
  background: white;
}

.footer .btn-sm {
  font-size: 16px;
  margin: 15px;
  background-color: #00ACED;
}

.copyright {
  font-size: 16px;
  margin-top: 45px;

}

#myModal {
  font-size: 18px;
}

.modal-header {
  background: #2d6ca2;
}
